
@if(TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></Script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options
        toastr.success('@TempData["success"]',{timeOut:3000});
    </script>
   
}

@if (TempData["error"] != null)
{
    <h2>@TempData["error"]</h2>
}