@model CoverType

<form method="post" asp-action="DeletePost">
    <div class="border p-3 mt-5 rounded-2">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Cover Type</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3" hidden>
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control"/>
        </div>
 
        <button class="btn btn-danger rounded-3" type="submit" style="width:170px">Delete</button>
        <a asp-controller="CoverType" asp-action="Index" class="btn btn-info rounded-3" style="width:170px">Back to list</a>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}

