@model CoverType

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-5 rounded-2">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Cover Type</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button class="btn btn-secondary rounded-3" type="submit" style="width:170px">Update</button>
        <a asp-controller="CoverType" asp-action="Index" class="btn btn-info rounded-3" style="width:170px">Back to list</a>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}

